.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 min(300px, 100);
    max-width: 300px;
    height: 550px;
}

.item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-detail {
    display: flex;
    flex-direction: column;
}

.item-title {
    font-weight: 700;
}

.item-description {
    font-weight: 400;
    font-size: 14px;
}

.item-price {
    font-weight: 400;
    font-size: 14px;
    margin-top: auto;
}

.item-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}